[submodule "rbgParser"]
	path = rbgParser
	url = https://github.com/uicus/rbgParser.git
[submodule "pybind11"]
	path = pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "asio"]
	path = asio
	url = https://github.com/chriskohlhoff/asio.git
[submodule "rbgGames"]
	path = rbgGames
	url = https://github.com/marekesz/rbgGames.git
